/* global styling */
html, body {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  width: 100vw;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* vars */
/* colors styles */
$primary: #12558A;
$secondary: #80BEEC;
$darktext: #031B44;
$lighttext: #F4F6F7;
$background: #F4F8FB;
$white: #FFFFFF;
$grey: #DDDDDD;
$offsetYellow: #FCD35B;
$offsetOrange: #FF760C;
$offsetGreen: #77B69E;


/* header */
.header-container {
    background-color: $primary;
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.mobile-logo-container {
    background-color: $white;
    color: $darktext;
}

/* nav */
.nav {
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.nav-left-col {
    display: flex;
}

.nav-center-col {
    display: flex;
    align-items: center;        
}

.nav-right-col {
    display: flex;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    margin: 0 24px;
    padding: 8px 10px 4px 10px;
    border-radius: 50%;

    &:hover {
      background-color: $secondary;
      color: $primary;
      transition: background-color 0.2s ease;
      -webkit-transition: background-color 0.2s ease;
    }
}

.large-screen-logo {
    background-color: $white;
    padding: 12px 20px;
    color: $primary;
    border-radius: 8px;

    &:hover {
      background-color: $white;
    }
}

.nav-question-button {
    background-color: $primary;
    color: $lighttext;
    border: 2px solid $lighttext;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 12px;
    display: flex;

    &:hover {
      background-color: $secondary;
      transition: background-color 0.15s ease;
      -webkit-transition: background-color 0.15s ease;
    }
}

.nav-link-ask-question {
  padding: 0;
}

.nav-avatar-link {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: $darktext;
    font-weight: bold;
    margin-right: 6px;

    &:hover {
      background-color: $grey;
      color: $darktext;
    }
}

.nav-triangle-button {
    display: flex;
    align-items: center;
    margin-right: 6px;
    text-decoration: none;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    justify-content: center;
    border: none;
    background-color: $primary;
    cursor: pointer;

    &:hover {
      background-color: $secondary;
      transition: background-color 0.15s ease;
      -webkit-transition: background-color 0.15s ease;
    }
}

.nav-triangle {
    display: flex;
    position: relative;
    background-color: $lighttext;
    margin-left: 2px;
    text-align: left;
}
.nav-triangle:before,
.nav-triangle:after {
    content: '';
    position: absolute;
    background-color: inherit;
}
.nav-triangle,
.nav-triangle:before,
.nav-triangle:after {
    width:  7px;
    height: 7px;
    border-top-right-radius: 40%;
}

.nav-triangle {
	  transform: rotate(0deg) skewX(-30deg) scale(1,.866);
}
.nav-triangle:before {
	  transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.nav-triangle:after {
	  transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.menu {
    background: $background;
    border-radius: 8px;
    position: absolute;
    font-size: 1.2rem;
    padding: 12px;
    top: 51px;
    right: 6px;
    width: 150px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    -webkit-transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.signout-text {
  text-decoration: none;
  color: $darktext;
  font-size: 1.2rem;
  background-color: $background;
  border: none;
  cursor: pointer;
}

/* Display different header logo dependig on screen size */
@media screen and (min-width: 415px) {
  .logo-container {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  .large-screen-logo-container {
    display: none;
  }
}

/* This is how you edit the chat panel */
#chat-panel {
  width: 50%;
}

/* layout columns styling */
.max-width-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1600px;
  margin-top: 82px;
  display: flex;
  justify-content: space-between;
}

.layout-left-col {
  width: 300px;
  margin-left: 20px;
}

.layout-center-col {
  width: 780px;
  background-color: $background;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.center-col-container {
  width: 94%;
}

.layout-right-col {
  width: 300px;
  margin-right: 20px;
}

.left-col-title {
  font-size: 2.2rem;
  margin-top: 0;
  
}

.right-col-title {
  font-size: 1.4rem;
  margin-top: 0;
  font-weight: lighter;
}

.center-col-title {
  font-size: 1.4rem;
  font-weight: lighter;
}

/* styling online users */
.online-user-list {
  list-style-type: none;
  padding-left: 0;
}

.online-user-avatar {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.online-user-link {
  display: flex;
  text-decoration: none;
}

.onlineusers-name {
  font-size: 1.2rem;
  margin-left: 8px;
  color: $darktext;
}

/* styling forms */
.form-container {
  width: 92%;
  margin: 28px auto 0 auto;
}

.form-title {
  margin-top: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 22px 0;
}

.form-label {
  margin: 6px 0;
}

.input-field-standard {
  height: 51px;
  font-size: 1rem;
  border: none;
  border: 1px solid $darktext;
  border-radius: 8px;
  padding: 6px;
  font-family: "Roboto";

  &:focus {
    outline: none;
  }
}

.input-field-textarea {
  height: 204px;
}

.post-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.small-button {
  height: 36px;
  padding: 0 22px;
  margin: 22px 0 64px 0;
  color: $lighttext;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.small-button-styling {
  background-color: $secondary;
  width: 100%;
}

.discard-button {
  background-color: $offsetOrange;
}

.post-button {
  background-color: $offsetGreen;
  margin-left: 14px;
}

/* remove once sorted out question and questions list form */
.thing {
  display: none;
}
/* remove remove remove remove remove */

/* styling profiles */
.profile-container {
  margin: 54px auto 0 auto;
  width: 90%;
}

.profile-header-container {
  display: flex;
}

.profile-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 22px;
}

.profile-content-container {
  width: 90%;
  margin: 0 auto;
}

.profile-avatar {
  width: 164px;
  height: 164px;
  border-radius: 50%;
}

.profile-username {
  font-size: 3.4rem;
  margin-bottom: 0;
}

.profile-content {
  font-size: 1.2rem;
  margin: 32px 0;
}

.edit-profile-button-link {
  text-decoration: none;
  color: $lighttext;
}

/* styling users page */
.users-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 54px;
}

.user-container {
  background-color: $secondary;
  margin: 6px;
  padding: 18px;
  border-radius: 8px;
  width: 32%;
  text-decoration: none;
  color: $darktext;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);

  &:hover {
    background-color: #b1ddff;
    transition: background-color 0.15s ease;
    -webkit-transition: background-color 0.15s ease;
  }
}

.users-header-container {
  display: flex;
  align-items: center;
}

.users-avatar-container {
  width: 84px;
  height: 84px;  
}

.users-avatar {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.users-username {
  margin-left: 8px;
}