@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// pallet colors

$primary: #12558A;
$secondary: #A5D2F3;
$dark-text: #031B44;
$light-text: #F4F6F7;
$background: #F4F8FB;
$white: #FFFFFF;
$grey: #DDDDDD;
$offsetYellow: #FCD35B;
$offsetOrange: #FF760C;
$offsetGreen: #77B69E;

//Sizing
$base-size: 1rem;

// Font Variables
$font-fam: 'Roboto Slab', serif;
$font-size: $base-size; 